build
.clangd
.cache
training_data
results
.venv
art
*.cpython*

acorn.bin
armadillo_30M.bin
bunny_samples.bin
celestial_globe.bin
lucy_5M.bin

acorn.obj
anchor_01.obj
car_tire_02.obj
bunny.obj
acoustic_guitar.obj
celestial_globe.obj
shuriken.obj
lucy.ply

__pycache__
nsight_compute.txt
test_throughput.py